.all-programmes {
  padding-top: 68px;
  background-image: url("../img/programmes_bg-desktop.png");
  background-repeat: no-repeat;
  background-position: right 53px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/programmes_bg-desktop@2x.png");
    background-size: 680px 426px;
  }
}

.all-programmes__container {
  max-width: 1366px;
  margin: 0 auto;
}

.all-programmes__tabs {
  display: flex;
  margin-left: 15.34%;
}

.all-programmes__container h2 {
  font-family: $montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
  margin-left: 15.34%;
}

.all-programmes__tabs-controls {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.all-programmes__tabs-btn {
  font-family: $firasans;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  opacity: 0.87;
  width: 228px;
  height: 72px;
  background-color: $white;
  border: none;
  text-align: left;
  padding-left: 73px;
  position: relative;
  cursor: pointer;

  &:hover {
    fill: $yellow;
    color: $yellow;
  }
}

.all-programmes__icon {
  position: absolute;

  &--common {
    left: 24px;
    top: 20px;
  }

  &--academic {
    left: 20px;
    top: 18px;
  }

  &--internship {
    left: 22px;
    top: 23px;
  }

  &--voluntery {
    left: 22px;
    top: 21px;
  }

  &--religion {
    left: 26px;
    top: 23px;
  }
}

.programme-btn-current {
  font-weight: 500;
  line-height: 19px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background-image: url("../img/programmes-current.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  padding-top: 4px;
  fill: $white;

  &:hover {
    fill: $white;
    color: $white;
  }
}

.all-programmes__tabs-content {
  padding-left: 64px;
}

.programme-content-hide {
  display: none;
}

.programme-content-current {
  display: block;
}

.all-programmes__tabs-content-item h3 {
  font-family: $montserrat;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $blue;
  margin: 0;
  padding-top: 51px;
}

.all-programmes__tabs-content-item p {
  font-family: $firasans;
  font-size: 15px;
  line-height: 26px;
  color: $black;
  opacity: 0.87;
  width: 560px;
  margin: 0;
  padding-top: 23px;
}

.all-programmes__tabs-content-item p + p {
  padding-top: 15px;
}

@media (max-width: $tablet) {
  .all-programmes {
    background-position: center 205px;
  }

  .all-programmes__container h2 {
    margin: 0 auto;
    text-align: center;
  }

  .all-programmes__tabs {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .all-programmes__tabs-controls {
    flex-direction: row;
    width: 620px;
    overflow: auto hidden;
    height: 48px;
    align-items: center;
  }

  .all-programmes__tabs-btn {
    width: 206px;
    height: 48px;
    padding-left: 64px;
    padding-right: 25px;
  }

  .all-programmes__icon {
    &--common {
      top: 8px;
    }

    &--academic {
      top: 9px;
    }

    &--internship {
      top: 10px;
    }

    &--voluntery {
      top: 5px;
    }

    &--religion {
      top: 7px;
    }
  }

  .all-programmes__tabs-content {
    padding-left: 0;
  }

  .programme-btn-current {
    background-image: $yellow-gradient;
    border-radius: 60.6704px;
  }
}

@media (max-width: $mobile) {
  .all-programmes {
    background-image: url("../img/programmes_bg-mobile.png");
    background-position: right 185px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/programmes_bg-mobile@2x.png");
      background-size: 296px 201px;
    }
  }

  .all-programmes__container h2 {
    font-size: 32px;
    line-height: 39px;
  }

  .all-programmes__container p {
    font-size: 14px;
    line-height: 22px;
    width: 288px;
  }

  .all-programmes__tabs-controls {
    width: 320px;
    margin-top: 15px;
  }

  .all-programmes__tabs-btn {
    width: 181px;
    padding-left: 53px;
    padding-right: 13px;
    opacity: 0.4;
  }

  .programme-btn-current {
    opacity: 1;
  }

  .all-programmes__icon {
    &--common {
      left: 13px;
    }

    &--academic {
      left: 11px;
      width: 32px;
      height: 31px;
    }

    &--internship {
      left: 15px;
      top: 13px;
      width: 28px;
      height: 22px;
    }

    &--voluntery {
      left: 8px;
    }

    &--religion {
      left: 18px;
    }
  }

  .all-programmes__tabs-content-item h3 {
    font-size: 24px;
    line-height: 29px;
    padding-top: 32px;
  }

  .all-programmes__tabs-content-item p {
    padding-top: 17px;
  }
}
