.header {
  background-image: url("../img/header-desktop.png");
  background-color: $white;
  background-position: center 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-desktop@2x.png");
    background-size: 1366px 906px;
  }

  &--english {
    background-image: url("../img/header-desktop-english.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-desktop-english@2x.png");
      background-size: 1366px 906px;
    }
  }
}

.header__container {
  margin: 0 auto;
  max-width: 1366px;
  min-height: 895px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 136px;
    left: 50%;
    transform: translateX(-50%);
    width: 76px;
    height: 131px;
    background-image: url("../img/scroll_hint.svg");
  }
}

.header__container img {
  position: absolute;
  top: 32px;
  left: 49.8%;
  transform: translateX(-50%);
}

.header__container ul {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-left: 110px;
  padding-right: 116px;
}

.header__container li {
  padding-right: 15px;

  &:last-child {
    margin-left: auto;
    padding-right: 0;
  }
}

.header__languages-list ul {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  position: absolute;
  top: 101px;
  left: 51%;
  transform: translateX(-50%);
}

.header__languages-list li {
  &:last-child {
    margin-left: 0;
  }
}

.header__languages-list a {
  font-family: $firasans;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

a.header__languages-list--active {
  color: $blue;
  opacity: 0.5;
  cursor: url("../img/cursor.png"), auto;
}

.header__navigation-list-link {
  font-family: $firasans;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  text-transform: uppercase;

  &--call-request {
    border-bottom: 1px dashed $black;
    letter-spacing: -0.87px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.header__container h1 {
  font-family: $firasans;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  width: 343px;
  margin: 0 auto;
  padding-top: 473px;
}

@media (max-width: $tablet) {
  .header {
    background-size: cover;
  }

  .header__container {
    min-height: 670px;

    &::after {
      bottom: 102px;
    }
  }

  .header__languages-list ul {
    top: 90px;
  }

  .header__container h1 {
    padding-top: 280px;
  }
}

@media (max-width: $mobile) {
  .header {
    background-position: center 20px;
  }

  .header__container {
    min-height: 617px;

    &::after {
      bottom: 71px;
    }
  }

  .header__container img {
    width: 120px;
    height: 42px;
    top: 20px;
    left: 16px;
    transform: none;
  }

  .header__container ul {
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 19px;
    padding-right: 8px;
  }

  .header__container li {
    padding-right: 0;
  }

  .header__languages-list ul {
    top: 75px;
    left: 50px;
    align-items: flex-start;
  }

  .header__container h1 {
    font-size: 20px;
    line-height: 24px;
    width: 288px;
    padding-top: 272px;
  }

  .header__navigation-list-item {
    &--call-request {
      padding-top: 8px;
      padding-right: 2px;
    }
  }

  .header__navigation-list-link {
    font-size: 14px;
    line-height: 17px;

    &--call-request {
      border-bottom: 1px dashed $black;
      letter-spacing: -0.7px;
    }
  }
}
