.modal-call-request {
  background-color: rgba($overlay, 0.95);
  z-index: 15;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;

  &::before {
    content: "";
    height: 437px;
    width: 410px;
    position: absolute;
    top: 42%;
    left: 51%;
    transform: translate(-50%, -40%);
    border-radius: 8px;
    background-color: $black;
    filter: blur(24px);
    z-index: -1;
  }
}

.modal-call-request__window {
  background-color: $white;
  border-radius: 8px;
  width: 480px;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding-bottom: 42px;
  z-index: 5;
}

.modal-call-request__window h1 {
  font-family: $montserrat;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: $blue;
  margin: 0;
  padding-top: 55px;
  padding-left: 48px;
  position: relative;
}

.modal-call-request__window p {
  font-family: $firasans;
  font-size: 15px;
  line-height: 26px;
  color: $black;
  opacity: 0.87;
  width: 359px;
  margin: 0;
  padding-left: 48px;
  padding-top: 16px;
}

.modal-call-request__window form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.modal-call-request__window input[type="text"],
.modal-call-request__window input[type="tel"] {
  font-family: $firasans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: $black;
  width: 360px;
  border: 2px solid #e3e3e3;
  box-sizing: border-box;
  border-radius: 80px;
  padding-left: 38px;
  padding-top: 17px;
  padding-bottom: 18px;
  margin-bottom: 8px;
  margin-left: 48px;
}

.modal-call-request__window input::placeholder {
  font-family: $firasans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: $black;
  opacity: 0.5;
}

.modal-call-request__window button[type="submit"] {
  width: 264px;
  background: $yellow-gradient;
  font-family: $firasans;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 80px;
  border: none;
  padding-top: 19px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 16px;
}

.modal-call-request__window input[type="checkbox"] + label {
  display: flex;
  margin-top: 16px;
  padding-left: 132px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 108px;
    top: 1px;
    width: 16px;
    height: 16px;
    background-image: url("../img/checkbox.svg");
  }

  &:focus {
    outline: none;
  }
}

.modal-call-request__window input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  bottom: 70px;
  left: 116px;
}

.modal-call-request__window input[type="checkbox"]:checked + label::before {
  background: url("../img/checkbox.svg"), url("../img/icon-tick.svg");
  background-position: center center, 3px 4px;
  background-size: auto, 11px 8px;
  background-repeat: no-repeat, no-repeat;
}

.modal-call-request__window input[type="checkbox"]:focus + label::before {
  outline: 2px solid $yellow;
}

.modal-call-request__window label[tabindex="0"] {
  font-family: $firasans;
  font-size: 13px;
  line-height: 19px;
  color: $black;
  opacity: 0.74;
}

.modal-call-request__close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 32px;
  right: 32px;
  background-image: url("../img/close-btn.svg");
  background-color: $white;
  border: none;
}

.request-open {
  display: block;
}

.request-close {
  display: none;
}
