@font-face {
  font-family: "Fira Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/fira-sans.woff2") format("woff2"), url("../fonts/fira-sans.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/fira-sans-medium.woff2") format("woff2"), url("../fonts/fira-sans-medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/fira-sans-bold.woff2") format("woff2"), url("../fonts/fira-sans-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/raleway.woff2") format("woff2"), url("../fonts/raleway.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway-bold.woff2") format("woff2"), url("../fonts/raleway-bold.woff") format("woff");
  font-display: swap;
}
