html {
  scroll-behavior: smooth;
  cursor: url("../img/cursor.png"), auto;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: $pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.nav-opened {
  overflow: hidden;
}
