$firasans: "Fira Sans", "Arial", sans-serif;
$montserrat: "Montserrat", "Verdana", sans-serif;
$raleway: "Raleway", "Arial", sans-serif;
$blue: #1fc0fc;
$white: #ffffff;
$black: #484848;
$tablet: 1023px;
$mobile: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
